/* Ваши стили */

.audio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item {
    margin-bottom: 10px;
  }
  
  .hidden-field {
    display: none;
  }
  
  .button {
    padding: 10px 20px;
    margin: 10px;
    width: 150px; /* Задайте фиксированную ширину для всех кнопок */
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  
  @media (max-width: 768px) {
    .button {
      width: 100%;
    }
  }
  