.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-nav {
    list-style-type: none;
    padding: 0;
}

#header-nav li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}