.left-bar-container {
    display:flex;
    justify-content: left;
    align-items: flex-start;
    padding-left: 10vw;
    margin-right: 10vw;
}

#left-bar-nav {
    list-style-type: none;
    padding: 0;
}

#left-bar-nav li {
    margin-bottom: 10px;
    vertical-align: middle;
}